{
  "parser": "babel-eslint",
  "rules": {
    "strict": 0,
    //for forms.CharField, exceptions don't seem to work atm
    "new-cap": false,
    "no-multi-spaces": false,
    "no-console": false,
    "no-underscore-dangle": false,
    "no-undef": false, //REMOVE once import bug is fixed
    "curly": [2, "multi-line"],
    "quotes": "single",

    "react/display-name": 0,
    "react/jsx-boolean-value": 1,
    "react/jsx-quotes": 1,
    "react/jsx-no-undef": 1,
    "react/jsx-sort-props": 0,
    "react/jsx-sort-prop-types": 0,
    "react/jsx-uses-react": 1,
    "react/jsx-uses-vars": 1,
    "react/no-did-mount-set-state": 1,
    "react/no-did-update-set-state": 1,
    "react/no-multi-comp": 1,
    "react/no-unknown-property": 1,
    "react/prop-types": 1,
    "react/react-in-jsx-scope": 1,
    "react/self-closing-comp": 1,
    "react/wrap-multilines": 1
  },
  "plugins": [
    "react"
  ],
  "ecmaFeatures": {
    "jsx": true,
    "modules": true,
    "module":  true
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "globals": {
    "Promise": true
  }
}
