// Base colors.
$base0: #0c1014;
$base1: #11151c;
$base2: #091f2e;
$base3: #0a3749;
$base4: #245361;
$base5: #599cab;
$base6: #99d1ce;
$base7: #d3ebe9;

// Other colors.
$red: #c23127;
$orange: #d26937;
$yellow: #edb443;
$magenta: #888ca6;
$violet: #4e5166;
$blue: #195466;
$cyan: #33859E;
$green: #2aa889;

