// Base colors.
$neutral-light: #E8E8E8;
$neutral-dark: #5F5F5F;
$neutral-blue: #ECF1F9;
$neutral-blue2: #C2D4EC;

$text-color: $neutral-dark;

// Other colors.
$red: #c23127;
$orange: #FE7312;
$yellow: #edb443;
$magenta: #888ca6;
$violet: #A36FC7;
$blue: #00A9C7;
$cyan: #33859E;
$green: #1BCD06;

$widget-source-color: rgb(115, 148, 221);
$widget-transform-color: rgb(118, 116, 189);
$widget-dest-color: rgb(42, 45, 90);