// Base colors.
$neutral-light: #E8E8E8;
$neutral-dark: #5F5F5F;
$neutral-blue: #CDDAEC;
$neutral-blue2: #C2D4EC;

$text-color: $neutral-dark;

// Other colors.
$red: #c23127;
$orange: #FE7312;
$yellow: #edb443;
$magenta: #888ca6;
$violet: #A36FC7;
$blue: #00A9C7;
$cyan: #33859E;
$green: #1BCD06;

