.results{
  max-height: 20em;
  overflow-y: auto;
  
  table{
    text-align: left;

    thead{
      border-bottom: 2px solid $base3;
    }

    tr{
      border-bottom: 1px dotted $base3;
    }

    th, td{
      padding-right: 1em;
    }
  }
}