.results{
  max-height: 20em;
  overflow-y: auto;
  min-width: 500px;

  a{
    color: $text-color;
  }
  
  table{
    text-align: left;

    thead{
      border-bottom: 2px solid $neutral-blue2;
    }

    tr{
      border-bottom: 1px dotted $neutral-blue2;
    }

    th, td{
      padding-right: 1em;
    }
  }
}