//mixins
@import 'mixins/clearfix';
@import 'mixins/vertical-align';
@import 'mixins/flex';

@import 'normalize';
@import 'colors';
@import 'fonts';
@import 'fa/font-awesome';
@import 'buttons';
@import 'modal';

@import 'layout';
@import 'transformWidget';
@import 'results';

body {
  font: 100% $font-stack;
  font-size: $font-size;
  color: $text-color;
  background: $base0;
}
i{
  margin-right: 0.5em;
}