//mixins
@import 'mixins/clearfix';
@import 'mixins/vertical-align';
@import 'mixins/button';

@import 'normalize';
@import 'colors';
@import 'fonts';
@import 'fa/font-awesome';
@import 'modal';

@import 'layout';
@import 'transformWidget';

body {
  font: 100% $font-stack;
  font-size: $font-size;
  color: $base6;
  background: $base0;
}
