$widget-width: 15em;
$widget-height: 25em;

.widgets{
  @extend %clearfix;

  height: 100%;

  .transform-widget{
    width: $widget-width;
    height: $widget-height;

    border: 1px $base6 solid;
    margin: 1em;
    text-align: center;

    float: left;

    &.add{
      border: 1px $base6 dashed;
    }

    p{
      margin: 0;
      @extend %vertical-align;
    }
  }
}

.widget-container{
  display: none;
}

.widget-modal{
  @extend %clearfix;
  background: $base3;
  padding: 1em;
}
