$widget-width: 15em;
$widget-height: 25em;

.widgets{
  @extend %clearfix;

  height: 100%;

  .transform-widget{
    width: $widget-width;
    height: $widget-height;
    position: relative;

    border: 1px $base6 solid;
    margin: 1em;
    text-align: center;

    float: left;

    &.add{
      border: 1px $base6 dashed;
    }

    p{
      margin: 0;
      @extend %vertical-align;
    }

    .remove{
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

.modal-container{
  display: none;
}

.modal-widget{
  @extend %clearfix;
  background: $base3;
  padding: 2em;

  //widget selection
  .widget-type{
    padding: 1em;
    margin: 1em;
    background: $base4;
    cursor: pointer;
  }
}

